{%- block html_doctype -%}<!DOCTYPE html>{%- endblock -%}
{%- block html_open_tag -%}<html>{%- endblock -%}
{%- block head_open_tag -%}<head>{%- endblock -%}

    {%- block meta -%}
        <meta charset="UTF-8" />
    {%- endblock -%}


    {%- block title_open_tag -%}<title>{%- endblock -%}
    {%- block title -%}
        {%- if (title is defined) -%}{{ title | trans }}{%- endif -%}
        {%- if (subtitle is defined) -%} {%- block title_separator %} - {% endblock -%} {{ subtitle | trans }}{%- endif -%}
    {%- endblock -%}
    {%- block title_close_tag -%}</title>{%- endblock -%}

    {%- block stylesheets -%}
        <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/cekurtegenerator/css/style.min.css') }}" />
    {%- endblock -%}

    {%- block favicon -%}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {%- endblock -%}

    {%- block hack_ie -%}
        <!--[if lt IE 9]>
            <script type="text/javascript" src="{{ asset('vendor/html5shiv/dist/html5shiv.js') }}"></script>
            <script type="text/javascript" src="{{ asset('vendor/respond/respond.min.js') }}"></script>
        <![endif]-->
    {%- endblock -%}

{%- block head_close_tag -%}</head>{%- endblock -%}
{%- block body_open_tag -%}<body>{%- endblock -%}

    {%- block body -%}
        {%- block header_open_tag -%}<header class="navbar navbar-inverse navbar-fixed-top">{%- endblock -%}
            {%- block header -%}
                {%- block header_container_open_tag -%}<div class="container">{%- endblock -%}
                    {%- block header_container_navbar_open_tag -%}<div class="navbar-header">{%- endblock -%}
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1 class="navbar-brand" href="#">{%- block app_title -%}{{ 'Cekurte Generator' | trans }}{%- endblock -%}</h1>
                    {%- block header_container_navbar_close_tag -%}</div>{%- endblock -%}
                    {%- block header_container_navbar_collapse_open_tag -%}<nav class="navbar-collapse collapse">{%- endblock -%}
                        {%- block menu_open_tag -%}<ul class="nav navbar-nav">{%- endblock -%}
                            {%- block menu -%}
                                <li class="active">
                                    <a href="#"><span class="glyphicon glyphicon-home"></span> {{ 'Home' | trans }}</a>
                                </li>
                                <li>
                                    <a href="#"><span class="glyphicon glyphicon-info-sign"></span> {{ 'About' | trans }}</a>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-pushpin"></span> Example Dropdown <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Action</a>
                                        </li>
                                        <li>
                                            <a href="#">Another action</a>
                                        </li>
                                        <li>
                                            <a href="#">Something else here</a>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li>
                                            <a href="#">Separated link</a>
                                        </li>
                                        <li>
                                            <a href="#">One more separated link</a>
                                        </li>
                                    </ul>
                                </li>
                            {%- endblock -%}
                        {%- block menu_close_tag -%}</ul>{%- endblock -%}
                        {%- block menu_right_open_tag -%}<ul class="nav navbar-nav navbar-right">{%- endblock -%}
                            {%- block menu_right -%}
                                {%- if app.user.username is defined -%}
                                    <li class="dropdown pull-right">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <span>{{ app.user.username }}</span> <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">{{ 'Settings' | trans }}</a></li>
                                            <li><a href="#">{{ 'Help' | trans }}</a></li>
                                            <li class="divider"></li>
                                            <li><a href="{{ path("fos_user_security_logout") }}"><i class="icon-signout"></i> {{ 'Logout' | trans }}</a></li>
                                        </ul>
                                    </li>
                                {%- endif -%}
                            {%- endblock -%}
                        {%- block menu_right_close_tag -%}</ul>{%- endblock -%}
                    {%- block header_container_navbar_collapse_close_tag -%}</nav>{%- endblock -%}
                {%- block header_container_close_tag -%}</div>{%- endblock -%}
            {%- endblock header -%}
        {%- block header_close_tag -%}</header>{%- endblock -%}

        {%- block container_open_tag -%}<div class="container">{%- endblock -%}
            {%- block container_page_header_open_tag -%}<div class="row page-header">{%- endblock -%}
                {%- block container_page_header_h2_open_tag -%}<h2 class="pull-left">{%- endblock -%}
                    {%- block container_page_header_h2_title_open_tag -%}{{ title | trans }}{%- endblock -%}
                    {%- block container_page_header_h2_subtitle_open_tag -%}<small>{%- if (subtitle is defined) %} {{ subtitle | trans }}{%- endif -%}</small>{%- endblock -%}
                {%- block container_page_header_h2_close_tag -%}</h2>{%- endblock -%}
                {%- block container_page_header_right_open_tag -%}<div class="btn-group pull-right">{%- endblock -%}
                    {%- block links -%}{%- endblock -%}
                {%- block container_page_header_right_close_tag -%}</div>{%- endblock -%}
            {%- block container_page_header_close_tag -%}</div>{%- endblock -%}
            <div class="row">
                {%- if app.session.flashbag.has('message') -%}
                    {%- block container_messages_open_tag -%}<section class="messages">{%- endblock -%}
                        {%- block message -%}
                            {%- for flashMessage in app.session.flashbag.get('message') -%}
                                {%- block container_alert_open_tag -%}<div class="alert alert-{%- if flashMessage.type == 'error' -%}danger{%- else -%}{{ flashMessage.type }}{%- endif %} fade in">{%- endblock -%}
                                    {%- block container_alert_button_close -%}<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{%- endblock -%}
                                    {%- block container_alert_message -%}<strong>{{ flashMessage.type | trans | capitalize }}!</strong> {{ flashMessage.message | trans }}{%- endblock -%}
                                {%- block container_alert_close_tag -%}</div>{%- endblock -%}
                            {%- endfor -%}
                        {%- endblock -%}
                    {%- block container_messages_close_tag -%}</section>{%- endblock -%}
                {%- endif -%}
                {%- block before_content -%}{%- endblock -%}
                {%- block content -%}{%- endblock -%}
                {%- block after_content -%}{%- endblock -%}
                {%- block container_links_footer_open_tag -%}<div class="pull-right">{%- endblock -%}
                    {%- block links_footer -%}{%- endblock -%}
                {%- block container_links_footer_close_tag -%}</div>{%- endblock -%}
            </div>

            {%- block container_footer_open_tag -%}<footer class="row">{%- endblock -%}
                {%- block footer -%}
                    {%- block footer_content_open_tag -%}<div class="pull-left">{%- endblock -%}
                        {%- block footer_content -%}
                            <a href="http://sistemas.cekurte.com/" target="_blank">@CekurteSistemas 2014</a>
                        {%- endblock -%}
                    {%- block footer_content_close_tag -%}</div>{%- endblock -%}
                {%- endblock -%}
            {%- block container_footer_close_tag -%}</footer>{%- endblock -%}
        {%- block container_close_tag -%}</div>{%- endblock -%}

    {%- endblock body -%}

    {%- block search -%}{%- endblock -%}

    {%- block javascripts -%}
        <script type="text/javascript" src="{{ asset('vendor/jquery/dist/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('vendor/jquery-placeholder/jquery.placeholder.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/cekurtegenerator/js/script.min.js') }}"></script>
    {%- endblock -%}

{%- block body_close_tag -%}</body>{%- endblock -%}
{%- block html_close_tag -%}</html>{%- endblock -%}