{% block extends %}
{{ "{% extends 'CekurteGeneratorBundle::layout.html.twig' %}" }}
{% endblock extends %}

{%- set hasDateField = false %}

{% block body %}
{{ "{% set title    = '" ~ entity ~ "'|trans %}" }}
{{ "{% set subtitle = '" ~ 'Edit' ~ "'|trans %}" }}

{{ "{% block links -%}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : '" ~ route_name_prefix ~ "'
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : '" ~ route_name_prefix ~ "_new'
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'route'             : '" ~ route_name_prefix ~ "_delete',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'form'              : delete_form,
        'show_label'        : true
    } only %}
    {% endembed %}" }}
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}
    <form class="form-horizontal" role="form" action="{{ "{{ path('" ~ route_name_prefix ~ "_update', { 'id': entity.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
        <input type="hidden" name="_method" value="PUT" />
        {{ "{{ form_widget(edit_form) }}" }}
        {{ "{% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}" }}
    </form>
    {% for field in fields %}
        {%- if field.fieldName in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

    {{ "{% include 'CekurteUploaderBundle:TwitterBootstrap3:layout.html.twig' with {
        'endpoint': '" ~ entity|lower ~ "_" ~ field.fieldName ~ "',
        'label'   : '" ~ field.fieldName|capitalize ~ "'|trans,
        'image'   : " ~ entity|lower ~ "_" ~ field.fieldName ~ "
    } %}" }}

        {%- endif %}
    {% endfor %}

{{ "{% endblock %}" }}

{{ "{%- block javascripts -%}" }}
    {{ "{{ parent() }}" }}
    {% for field in fields %}
        {%- if field.fieldName in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

    {{ "{% include 'CekurteUploaderBundle:TwitterBootstrap3:script.html.twig' with {
        'endpoint': '" ~ entity|lower ~ "_" ~ field.fieldName ~ "'
    } %}" }}

        {%- elseif field.type in ['date'] %}
            {% set hasDateField = true %}
        {%- endif %}
    {% endfor %}

    {% if hasDateField == true -%}
    {{ "<script type=\"text/javascript\" src=\"{{ asset('vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}\"></script>" }}
    {{ "<script type=\"text/javascript\" src=\"{{ asset('vendor/bootstrap-datepicker/js/locales/bootstrap-datepicker.' ~ app.request.locale|replace({'_': '-'}) ~ '.js') }}\"></script>" }}
    {%- endif %}

{{ "{%- endblock -%}" }}
{% endblock body %}