{% block extends %}
{{ "{% extends '" ~ bundle ~ ":" ~ entity ~ ":layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% set title    = '" ~ entity ~ "'|trans %}" }}
{{ "{% set subtitle = '" ~ 'Edit' ~ "'|trans %}" }}

{{ "{% block links -%}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : '" ~ route_name_prefix ~ "'
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : '" ~ route_name_prefix ~ "_new'
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'route'             : '" ~ route_name_prefix ~ "_delete',
        'identifierKey'     : 'id',
        'identifierValue'   : data.id,
        'form'              : delete_form,
        'show_label'        : true
    } only %}
    {% endembed %}" }}
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}
    <div class="panel panel-default">
        <div class="panel-heading">{{ "{{ 'Edit an existing resource'|trans }}" }}</div>
        <div class="panel-body">
            <form class="form-horizontal" role="form" action="{{ "{{ path('" ~ route_name_prefix ~ "_update', { 'id': data.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>
                <input type="hidden" name="_method" value="PUT" />
                {{ "{{ form_widget(edit_form) }}" }}
                {{ "{% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}" }}
            </form>
            {%- for field in fields %}
                {%- if field.fieldName in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

            {{ "{% include 'CekurteUploaderBundle:TwitterBootstrap3:layout.html.twig' with {
                'endpoint': '" ~ data|lower ~ "_" ~ field.fieldName ~ "',
                'label'   : '" ~ field.fieldName|capitalize ~ "'|trans,
                'image'   : " ~ data|lower ~ "_" ~ field.fieldName ~ "
            } %}" }}

                {%- endif %}
            {%- endfor %}
        </div>
    </div>
{{ "{% endblock %}" }}

{%- set hasDateField    = false -%}
{%- set hasUploadField  = false -%}

{%- for field in fields -%}
    {%- if field.type in ['date'] -%}
        {%- set hasDateField    = true -%}
    {%- elseif field.fieldName in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] -%}
        {%- set hasUploadField  = true -%}
    {%- endif -%}
{%- endfor %}

{%- if hasDateField == true -%}
{{ "\n" }}
{{ "{%- block stylesheets -%}" }}
    {{ "{{ parent() }}" }}

    {{ "{%- include 'CekurteGeneratorBundle:DatePicker:style.html.twig' -%}" }}
{{ "{%- endblock -%}" }}
{%- endif -%}

{%- if hasDateField == true or hasUploadField == true -%}
{{ "\n" }}
{{ "{%- block javascripts -%}" }}
    {{ "{{ parent() }}" }}

    {%- if hasDateField == true -%}
    {{ "\n" }}
    {{ "{%- include 'CekurteGeneratorBundle:DatePicker:script.html.twig' -%}" }}
    {%- endif -%}

    {%- if hasUploadField == true -%}
        {%- for field in fields -%}
            {%- if field.fieldName in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] -%}
    {{ "\n" }}
    {{ "{%- include 'CekurteUploaderBundle:TwitterBootstrap3:script.html.twig' with {
        'endpoint': '" ~ data|lower ~ "_" ~ field.fieldName ~ "'
    } -%}" }}
            {%- endif -%}
        {% endfor -%}
    {%- endif -%}
{{ "\n" ~ "{%- endblock -%}" }}

{%- endif -%}
{{ "\n" }}
{%- endblock body %}