{% block extends %}
{{ "{% extends '" ~ bundle ~ ":" ~ entity ~ ":layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% set title    = '" ~ entity ~ "'|trans %}" }}
{{ "{% set subtitle = '" ~ 'List' ~ "'|trans %}" }}

{{ "{% block search -%}" }}
    {{ "{% include '" ~ bundle ~ ":" ~ entity ~ ":search.html.twig' %}" }}
{{ "{% endblock %}" }}

{{ "{% block links -%}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:search.html.twig' only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route': '" ~ route_name_prefix ~ "_new'
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:export.html.twig' with {
        'route': '" ~ route_name_prefix ~ "_export'
    } only %}
    {% endembed %}" }}
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}
    <div class="panel panel-default">
        {{ "{% if data.total == 0 %}" }}
            <div class="panel-heading">{{ "{{ 'No resources found'|trans }}" }}</div>
            <div class="panel-body"></div>
        {{ "{% else %}" }}
            <div class="panel-heading">
                {{ "{% if data.total == 1 %}" }}
                    {{ "{{ data.total ~ ' ' ~ 'resource found'|trans }}" }}
                {{ "{% else %}" }}
                    {{ "{{ data.total ~ ' ' ~ 'resources found'|trans }}" }}
                {{ "{% endif %}" }}
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-default">{{ "{{ 'Showing'|trans ~ ' ' ~ limit ~ ' ' ~ 'resources per page'|trans }}" }}</button>
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">{{ "{{ 'List'|trans }}" }}</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li{{ "{% if limit == 10 %} class=" ~ 'active' ~ "{% endif %}" }}><a href="{{ "{{ path('" ~ route_name_prefix ~ "') ~ cekurte_pagination_query_string(queries|merge({'limit': 10})) }}" }}">10</a></li>
                        <li{{ "{% if limit == 25 %} class=" ~ 'active' ~ "{% endif %}" }}><a href="{{ "{{ path('" ~ route_name_prefix ~ "') ~ cekurte_pagination_query_string(queries|merge({'limit': 25})) }}" }}">25</a></li>
                        <li{{ "{% if limit == 50 %} class=" ~ 'active' ~ "{% endif %}" }}><a href="{{ "{{ path('" ~ route_name_prefix ~ "') ~ cekurte_pagination_query_string(queries|merge({'limit': 50})) }}" }}">50</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                            {%- for field, metadata in fields %}

                                {{ "{{ cekurte_pagination_sortable('ck." ~ field ~ "', '" ~ field|capitalize ~ "') }}" }}

                            {%- endfor %}

                                {{ "{% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}" }}
                                    <th class="action">{{ "{{ 'Actions'|trans }}" }}</th>
                                {{ "{% endif %}" }}
                            </tr>
                        </thead>
                        <tbody>
                        {{ '{% for entity in data.items %}' }}
                            <tr>

                        {%- for field, metadata in fields %}
                            {%- if loop.first and ('show' in actions) %}

                                <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                            {%- elseif field in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

                                <td>
                                    {{ "{%- if entity." ~ field|replace({'_': ''}) ~ " != '' -%}" }}
                                        <img class="img-thumbnail" src="{{ "{{ entity." ~ field|replace({'_': ''}) ~ "|imagine_filter('admin_thumbnail_list') }}" }}">
                                    {{ "{%- endif -%}" }}
                                </td>

                            {%- elseif metadata.type in ['date'] %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'medium\', \'none\') }}' }}</td>

                            {%- elseif metadata.type in ['time'] %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'none\', \'medium\') }}' }}</td>

                            {%- elseif metadata.type in ['datetime', 'datetimetz'] %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'medium\', \'medium\') }}' }}</td>

                            {%- elseif metadata.type in ['text'] %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|striptags|truncate(50) }}' }}</td>

                            {%- elseif metadata.type in ['boolean'] %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' == true ? ' ~ "'Yes'|trans" ~ ' : ' ~  "'No'|trans" ~' }}' }}</td>

                            {%- else %}

                                <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                            {%- endif %}

                            {%- if loop.last %}

                                {{ "{% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}" }}
                                    <td>
                                        {{ "{% embed 'CekurteGeneratorBundle:Action:retrieve.html.twig' with {
                                            'route'             : '" ~ route_name_prefix ~ "_show',
                                            'identifierKey'     : 'id',
                                            'identifierValue'   : entity.id
                                        } only %}
                                        {% endembed  %}" }}
                                        {{ "{% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
                                            'route' : '" ~ route_name_prefix ~ "_edit',
                                            'identifierKey'     : 'id',
                                            'identifierValue'   : entity.id
                                        } only %}
                                        {% endembed  %}" }}
                                        {{ "{% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
                                            'route'             : '" ~ route_name_prefix ~ "_delete',
                                            'identifierKey'     : 'id',
                                            'identifierValue'   : entity.id,
                                            'form'              : delete_form,
                                        } only %}
                                        {% endembed  %}" }}
                                    </td>
                                {{ "{% endif %}" }}

                            {%- endif %}
                        {%- endfor %}

                            </tr>
                        {{ '{% endfor %}' }}
                        </tbody>
                    </table>
                </div>
            </div>
        {{ "{% endif %}" }}
    </div>
{{ "{% endblock %}" }}

{{ "{% block links_footer -%}" }}
    {{ "{{ cekurte_pagination_render(data) }}" }}
{{ "{% endblock %}" }}

{%- set hasDateField = false -%}

{%- for field in fields -%}
    {%- if field.type in ['date'] -%}
        {%- set hasDateField = true -%}
    {%- endif -%}
{%- endfor %}

{%- if hasDateField == true -%}
{{ "\n" }}
{{ "{%- block stylesheets -%}" }}
    {{ "{{ parent() }}" }}

    {{ "{%- include 'CekurteGeneratorBundle:DatePicker:style.html.twig' -%}" }}
{{ "{%- endblock -%}" }}
{%- endif -%}

{{ "\n" }}
{{ "{%- block javascripts -%}" }}
    {{ "{{ parent() }}" }}
    <script type="text/javascript" src="{{ "{{ asset('bundles/cekurtegenerator/js/searchform.js') }}" }}"></script>
    {%- if hasDateField == true -%}
    {{ "\n" }}
    {{ "{%- include 'CekurteGeneratorBundle:DatePicker:script.html.twig' -%}" }}
    {%- endif -%}
{{ "\n" ~ "{%- endblock -%}" }}

{{ "\n" }}
{%- endblock body %}