{% block extends %}
{{ "{% extends 'CekurteGeneratorBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% set title    = '" ~ entity ~ "'|trans %}" }}
{{ "{% set subtitle = '" ~ 'List' ~ "'|trans %}" }}

{{ "{% block search -%}" }}
    {{ "{% include '" ~ bundle ~ ":" ~ entity ~ ":search.html.twig' %}" }}
{{ "{% endblock %}" }}

{{ "{% block links -%}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:search.html.twig' only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route': '" ~ route_name_prefix ~ "_new'
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:export.html.twig' with {
        'route': '" ~ route_name_prefix ~ "_export'
    } only %}
    {% endembed %}" }}
{{ "{% endblock %}" }}

{{ "{% block links_footer -%}" }}
    {{ "{{ knp_pagination_render(pagination) }}" }}
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                {%- for field, metadata in fields %}

                    <th{{ "{% if pagination.isSorted('ck." ~ field ~ "') %}" }} class="sorted"{{ "{% endif %}" }}>{{ "{{ knp_pagination_sortable(pagination, '" ~ field|capitalize ~ "'|trans, 'ck." ~ field ~ "', {'title' : 'Order by'|trans" ~ " ~ ' ' ~ '" ~ field|capitalize ~ "'|trans}) }}" }}</th>

                {%- endfor %}

                    {{ "{% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}" }}
                        <th class="action">{{ "{{ 'Actions'|trans }}" }}</th>
                    {{ "{% endif %}" }}
                </tr>
            </thead>
            <tbody>
            {{ '{% for entity in pagination %}' }}
                <tr>

            {%- for field, metadata in fields %}
                {%- if loop.first and ('show' in actions) %}

                    <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': entity.id }) }}" }}">{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

                {%- elseif field in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

                    <td>
                        {{ "{%- if entity." ~ field|replace({'_': ''}) ~ " != '' -%}" }}
                            <img class="img-thumbnail" src="{{ "{{ entity." ~ field|replace({'_': ''}) ~ "|imagine_filter('admin_thumbnail_list') }}" }}">
                        {{ "{%- endif -%}" }}
                    </td>

                {%- elseif metadata.type in ['date'] %}

                    {%- if default_locale == 'pt_BR' -%}
                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y\') }}' }}</td>
                    {%- else -%}
                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}' }}</td>
                    {%- endif -%}

                {%- elseif metadata.type in ['datetime'] %}

                    {%- if default_locale == 'pt_BR' -%}
                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'d/m/Y H:i:s\') }}' }}</td>
                    {%- else -%}
                        <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>
                    {%- endif -%}

                {%- elseif metadata.type in ['text'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|striptags|truncate(50) }}' }}</td>

                {%- elseif metadata.type in ['boolean'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' == true ? ' ~ "'Yes'|trans" ~ ' : ' ~  "'No'|trans" ~' }}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                {%- if loop.last %}

                    {{ "{% if cekurte_is_granted('RETRIEVE') or cekurte_is_granted('UPDATE') or cekurte_is_granted('DELETE') %}" }}
                        <td>
                            {{ "{% embed 'CekurteGeneratorBundle:Action:retrieve.html.twig' with {
                                'id'    : entity.id,
                                'route' : '" ~ route_name_prefix ~ "_show'
                            } only %}
                            {% endembed  %}" }}
                            {{ "{% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
                                'id'    : entity.id,
                                'route' : '" ~ route_name_prefix ~ "_edit'
                            } only %}
                            {% endembed  %}" }}
                            {{ "{% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
                                'form'  : delete_form,
                                'id'    : entity.id,
                                'route' : '" ~ route_name_prefix ~ "_delete'
                            } only %}
                            {% endembed  %}" }}
                        </td>
                    {{ "{% endif %}" }}

                {%- endif %}
            {%- endfor %}

                </tr>
            {{ '{% endfor %}' }}
            </tbody>
        </table>
    </div>
{{ "{% endblock %}" }}
{% endblock body %}