{% block extends %}
{{ "{% extends 'CekurteGeneratorBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% set title    = '" ~ entity ~ "'|trans %}" }}
{{ "{% set subtitle = '" ~ 'Add' ~ "'|trans %}" }}

{{ "{% block links -%}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route' : '" ~ route_name_prefix ~ "'
    } only %}
    {% endembed %}" }}
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}
    <form class="form-horizontal" role="form" action="{{ "{{ path('" ~ route_name_prefix ~ "_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
        {{ "{{ form_widget(form) }}" }}
        {{ "{% include 'CekurteGeneratorBundle:Action:form-actions.html.twig' %}" }}
    </form>
    {% for field in fields %}
        {%- if field.fieldName in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

    {{ "{% include 'CekurteUploaderBundle:TwitterBootstrap3:layout.html.twig' with {
        'endpoint': '" ~ entity|lower ~ "_" ~ field.fieldName ~ "',
        'label'   : '" ~ field.fieldName|capitalize ~ "'|trans
    } %}" }}

        {%- endif %}
    {% endfor %}

{{ "{% endblock %}" }}

{{ "{%- block javascripts -%}" }}
    {{ "{{ parent() }}" }}
    {% for field in fields %}
        {%- if field.fieldName in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

    {{ "{% include 'CekurteUploaderBundle:TwitterBootstrap3:script.html.twig' with {
        'endpoint': '" ~ entity|lower ~ "_" ~ field.fieldName ~ "'
    } %}" }}

        {%- endif %}
    {% endfor %}

{{ "{%- endblock -%}" }}
{% endblock body %}