{% block extends %}
{{ "{% extends 'CekurteGeneratorBundle::modal.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block title -%}{{ 'Search' | trans }}{% endblock %}" }}

{{ "{% block form_open -%}" }}
    <form class="form-horizontal form-search" role="form" action="{{"{{ path('" ~ route_name_prefix ~ "') }}" }}" method="get">
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}
    <div class="alert-search" data-close="{{ "{{ 'Close'|trans }}" }}" data-title="{{ "{{ 'warning'|trans }}" }}!" data-message="{{ "{{ 'You cannot perform the search because none of the form fields are filled'|trans }}." }}"></div>
    {{ "{{ form_widget(search_form) }}" }}
{{ "{% endblock %}" }}

{{ "{% block action_close -%}" }}
    <a href="{{" {{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-danger"><span class="glyphicon glyphicon-refresh"></span> {{ "{{ 'Clear the search filters' | trans }}" }}</a>
    <button type="reset" class="btn btn-default"><span class="glyphicon glyphicon-repeat"></span> {{ "{{ 'Revert changes' | trans }}" }}</button>
{{ "{% endblock %}" }}
{% endblock body %}