{% block extends %}
{{ "{% extends 'CekurteGeneratorBundle::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% set title    = '" ~ entity ~ "'|trans %}" }}
{{ "{% set subtitle = '" ~ 'Details' ~ "'|trans %}" }}

{{ "{% block links -%}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:list.html.twig' with {
        'route'      : '" ~ route_name_prefix ~ "'
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:update.html.twig' with {
        'route'             : '" ~ route_name_prefix ~ "_edit',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'show_label'        : true
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:create.html.twig' with {
        'route'      : '" ~ route_name_prefix ~ "_new',
    } only %}
    {% endembed %}" }}
    {{ "{% embed 'CekurteGeneratorBundle:Action:delete.html.twig' with {
        'route'             : '" ~ route_name_prefix ~ "_delete',
        'identifierKey'     : 'id',
        'identifierValue'   : entity.id,
        'form'              : delete_form,
        'show_label'        : true
    } only %}
    {% endembed %}" }}
{{ "{% endblock %}" }}

{{ "{% block content -%}" }}
    <div class="table-responsive">
        <table class="table table-hover table-show">
            <tbody>
            {%- for field, metadata in fields %}

                <tr>
                    <th>{{ "{{ '" ~ field|capitalize ~ "'|trans }}" }}</th>

                {%- if field in ['picture', 'image', 'thumb', 'thumbnail', 'file', 'filename'] %}

                    <td>
                        {{ "{%- if entity." ~ field|replace({'_': ''}) ~ " != '' -%}" }}
                            <img class="img-thumbnail" src="{{ "{{ entity." ~ field|replace({'_': ''}) ~ "|imagine_filter('admin_thumbnail_list') }}" }}">
                        {{ "{%- endif -%}" }}
                    </td>

                {%- elseif metadata.type in ['date'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'medium\', \'none\') }}' }}</td>

                {%- elseif metadata.type in ['time'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'none\', \'medium\') }}' }}</td>

                {%- elseif metadata.type in ['datetime', 'datetimetz'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|localizeddate(\'medium\', \'medium\') }}' }}</td>

                {%- elseif metadata.type in ['text'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|raw }}' }}</td>

                {%- elseif metadata.type in ['boolean'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' == true ? ' ~ "'Yes'|trans" ~ ' : ' ~  "'No'|trans" ~' }}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

                </tr>

            {%- endfor %}

            </tbody>
        </table>
    </div>
{{ "{% endblock %}" }}
{% endblock body %}