{%- block container-%}
    {%- block container_open -%}<ul class="pagination">{%- endblock -%}

        {%- block first -%}
            {%- block first_container_open -%}<li{% if is_first_page or total_page_number == 0 %} class="disabled"{% endif %}>{%- endblock -%}
                {%- block first_link_open -%}<a href="{% if is_first_page or total_page_number == 0 %}#{% else %}{{ path(route) ~ cekurte_pagination_query_string(queries|merge({(queryStringPageParameterName): 1})) }}{% endif %}">{%- endblock -%}
                    {%- block first_link_label -%}{{ 'First'|trans }}{%- endblock -%}
                {%- block first_link_close -%}</a>{%- endblock -%}
            {%- block first_container_close -%}</li>{%- endblock -%}
        {%- endblock -%}

        {%- block previous -%}
            {%- block previous_container_open -%}<li{% if is_first_page or total_page_number == 0 %} class="disabled"{% endif %}>{%- endblock -%}
                {%- block previous_link_open -%}<a href="{% if is_first_page or total_page_number == 0 %}#{% else %}{{ path(route) ~ cekurte_pagination_query_string(queries|merge({(queryStringPageParameterName): (current_page_number - 1)})) }}{% endif %}">{%- endblock -%}
                    {%- block previous_link_label -%}{{ 'Previous'|trans }}{%- endblock -%}
                {%- block previous_link_close -%}</a>{%- endblock -%}
            {%- block previous_container_close -%}</li>{%- endblock -%}
        {%- endblock -%}

        {% for page_number in 1..(total_page_number == 0 ? 1 : total_page_number) %}
            {%- block page -%}
                {% set disabledLinkPage = ((is_first_page and loop.first) or (is_last_page and loop.last) or (page_number == current_page_number)) %}
                {%- block page_container_open -%}<li{% if disabledLinkPage %} class="disabled"{% endif %}>{%- endblock -%}
                    {%- block page_link_open -%}<a href="{% if disabledLinkPage %}#{% else %}{{ path(route) ~ cekurte_pagination_query_string(queries|merge({(queryStringPageParameterName): page_number})) }}{% endif %}">{%- endblock -%}
                        {%- block page_link_label -%}{{ page_number }}{%- endblock -%}
                    {%- block page_link_close -%}</a>{%- endblock -%}
                {%- block page_container_close -%}</li>{%- endblock -%}
            {%- endblock -%}
        {% endfor %}

        {%- block next -%}
            {%- block next_container_open -%}<li{% if is_last_page or total_page_number == 0 %} class="disabled"{% endif %}>{%- endblock -%}
                {%- block next_link_open -%}<a href="{% if is_last_page or total_page_number == 0 %}#{% else %}{{ path(route) ~ cekurte_pagination_query_string(queries|merge({(queryStringPageParameterName): (current_page_number + 1)})) }}{% endif %}">{%- endblock -%}
                    {%- block next_link_label -%}{{ 'Next'|trans }}{%- endblock -%}
                {%- block next_link_close -%}</a>{%- endblock -%}
            {%- block next_container_close -%}</li>{%- endblock -%}
        {%- endblock -%}

        {%- block last -%}
            {%- block last_container_open -%}<li{% if is_last_page or total_page_number == 0 %} class="disabled"{% endif %}>{%- endblock -%}
                {%- block last_link_open -%}<a href="{% if is_last_page or total_page_number == 0 %}#{% else %}{{ path(route) ~ cekurte_pagination_query_string(queries|merge({(queryStringPageParameterName): (total_page_number)})) }}{% endif %}">{%- endblock -%}
                    {%- block last_link_label -%}{{ 'Last'|trans }}{%- endblock -%}
                {%- block last_link_close -%}</a>{%- endblock -%}
            {%- block last_container_close -%}</li>{%- endblock -%}
        {%- endblock -%}

    {%- block container_close -%}</ul>{%- endblock -%}
{%- endblock -%}