{% extends 'CekurteGeneratorBundle:Generator:layout.html.twig' %}

{% set title    = 'Generator'|trans %}
{% set subtitle = 'List of the bundles'|trans %}

{% block search -%}
    {% include 'CekurteGeneratorBundle:Generator:generateBundle.html.twig' %}
{% endblock %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:search.html.twig' only %}
        {% block action_open %}<a href="#modalSearch" class="btn btn-success" data-toggle="modal">{% endblock %}
    {% block action_icon %}<span class="glyphicon glyphicon-plus"></span>{% endblock %}
    {% block action_label %}{{ 'Add' | trans }}{% endblock %}
    {% endembed %}

    <a href="{{ path('cekurte_generator') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-list"></span> {{ 'List' | trans }}
    </a>
{% endblock %}

{% block links_footer -%}{% endblock %}

{% block content -%}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>{{ 'Bundle'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in bundles %}
                <tr>
                    <td>{{ item }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
