{% extends 'CekurteGeneratorBundle::layout.html.twig' %}

{% set title    = 'Generator'|trans %}
{% set subtitle = 'Setup CRUD'|trans %}

{% block search -%}
    {% include 'CekurteGeneratorBundle:Generator:importTable.html.twig' %}
{% endblock %}

{% block links -%}
    {% embed 'CekurteGeneratorBundle:Action:search.html.twig' only %}
        {% block action_open %}<a href="#modalSearch" class="btn btn-primary" data-toggle="modal">{% endblock %}
        {% block action_icon %}<span class="glyphicon glyphicon-import"></span>{% endblock %}
        {% block action_label %}{{ 'Import' | trans }}{% endblock %}
    {% endembed %}

    <a href="{{ path('cekurte_generator') }}" class="btn btn-default">
        <span class="glyphicon glyphicon-list"></span> {{ 'List' | trans }}
    </a>
{% endblock %}

{% block links_footer -%}{% endblock %}

{% block content -%}
    <div class="table-responsive">
        <table class="table table-bordered table-show">
            <tbody>
                <tr>
                    <th>{{ 'Table'|trans }}</th>
                    <td>{{ table }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">{{ 'Fields'|trans }}</div>
        <div class="panel-body">
            <table class="table table-hover table-show">
                <thead>
                    <tr>
                        <th>{{ 'Field Name'|trans }}</th>
                        <th>{{ 'Column Name'|trans }}</th>
                        <th>{{ 'Type'|trans }}</th>
                        <th>{{ 'Length'|trans }}</th>
                        <th>{{ 'Nullable'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in fields %}
                        <tr>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {%- if item.autoincrement == true -%}
                                    <span class="glyphicon glyphicon-lock"></span>
                                {%- endif %} {{ item.name }}
                            </td>
                            <td>
                                <span class="badge">{{ item.type }}</span>
                            </td>
                            <td>
                                {{ item.length is defined ? item.length : '' }}
                            </td>
                            <td>
                                {% include 'CekurteGeneratorBundle:Action:boolean-field.html.twig' with {
                                    'fieldValue': item.notnull is defined ? item.notnull : false
                                } %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
