{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    <div class="form-group">
        <div class="col-lg-2">
            {{ form_label(form) }}
        </div>
        <div class="col-lg-10">
            {{ form_widget(form) }}
            <div class="errors">
                {{ form_errors(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block form_widget_simple %}

    {% set type = type|default('text') %}

    {% if type == 'file' %}
        {% set cssClass = 'btn btn-success' %}
    {% else %}
        {% set cssClass = 'form-control' %}
    {% endif %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' ' ~ cssClass)|trim}) %}
    {{ parent() }}

{% endblock form_widget_simple %}

{% block textarea_widget %}

    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' form-control')|trim}) %}

    {{ parent() }}

{% endblock textarea_widget %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain) }}:</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block ck_search_text_widget -%}
    {%- set attr = attr|merge({
        'data-field': alias ~ separator|default('.') ~ property,
        'data-operation': operation,
    }) -%}
    {{- block('form_widget_simple') -}}
{%- endblock ck_search_text_widget %}